body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

input {
  border-style: none;
  vertical-align: text-top;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.custom-save-container {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  font-size: 150%;
}

#save-btn {
  align-content: center;
  width: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  background-color: rgb(67, 67, 148);
  color: white;
}

#save-btn:active {
  background-color: rgb(70, 70, 206);
  box-shadow: inset -5px -5px 5px black;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.custom-time-border {
  border-right: black;
  border-bottom: 1px dotted black;
  text-align: center;
}

.custom-time-text {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: text;
  color: white;
}

.custom-save-box {
  border-left: 1.5px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
}